.carousel-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 80px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.carousel-item img {
    max-height: 100px; 
    width: auto;
}
