h4{
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.about-image {
    position: relative;
    height: 70vh;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/src/images/header-about.jpg");
    background-attachment: fixed;
    background-position-y: 0;
}

.animation-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}
  
@keyframes fadeIn {
    to {
      opacity: 1;
    }
}

.container {
    display: flex;
    margin: 20px 50px;
    padding: 20px;
    align-items: center;
    height: 60vh;
}

.text-container {
    flex: 1;
    padding-right: 20px;
}

img {
    max-width: 100%;
    width: 500px;
    height: auto;
}