h2{
    text-align: center;
}

.product-slider-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.product-slider {
    width: 20%;
    margin-bottom: 20px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    height: 270px;
}

.product-slider h3 {
    margin-bottom: 10px;
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.product-slider:hover h3 {
    opacity: 1;
    transform: translateY(-20px);
}

.slick-next:before {
    content: '→';
    color: black;
}

.slick-prev:before{
    content: '←';
    color: black;
}

.product-slider-item {
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    height: 200px;
    position: relative;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details {
    text-align: center;
}

.product-price {
    color: #007bff;
    margin-top: 20px;
}

.circle-button {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000; /* Button background color */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
  }
  
  .circle-button:hover {
    background-color: #0056b3; /* Adjust the color on hover */
  }
  
  .cart-icon {
    color: #fff; /* Icon color */
    font-size: 24px; /* Adjust the icon size */
    transition: transform 0.3s ease; /* Add a transition effect for the icon */
  }
  
  .circle-button:hover .cart-icon {
    transform: scale(1.2); /* Zoom effect on hover */
  }