.flex-container {
  display: flex;
  margin-top: 120px;
}

.navigation-container {
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.navigation p {
  cursor: pointer;
  padding: 10px;
  margin: 0;
}

.navigation p.selected {
  background-color: #f8ff97;
}

.list-products{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.sort-container{
  margin-left: 20px;
}