.shopping-cart {
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 280px;
  height: 93vh;
  z-index: 99999;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-header h2 {
  margin: 0;
}

.close-icon {
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.cart-items {
  max-height: 200px;
  margin-top: 30px;
}

.cart-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.cart-items button {
  background: #ff5252;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-items button:hover {
  background: #ff1a1a;
}

.cart-footer {
  margin-top: 10px;
  text-align: right;
}


.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
}

.cart-item-image {
  max-width: 50px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.cart-item-price {
  font-size: 14px;
  color: #555;
}