.shopping-cart {
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 280px;
  height: 93vh;
  z-index: 99999;
  animation: slideIn 0.5s ease forwards;
  overflow-y: auto;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-header h2 {
  margin: 0;
}

.close-icon {
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.cart-items {
  margin-top: 30px;
}

.cart-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item-container {
  position: relative;
  overflow: hidden;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
  transition: margin-right 0.3s ease;
}

.cart-item-image {
  max-width: 50px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.cart-item-price {
  font-size: 14px;
  color: #555;
}

.delete-button-container {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: right 0.3s ease;
}

.cart-item-container:hover .cart-item {
  margin-right: 60px;
}

.cart-item-container:hover .delete-button-container {
  right: 0;
}

.delete-button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 50px 10px;
  cursor: pointer;
}

.cart-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn{
  cursor: pointer;
}