.product-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin-top: 150px;
  padding: 0 30px;
  gap: 150px;
}

/* Loading */

.loading {
  position: relative;
  display: inline-block;
  margin: 500px 0;
  bottom: 10%;
  left: 50%;
}

.loading::after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top: 3px solid #ff5733;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* product image */

.product-images {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.selected-image {
  margin-right: 20px;
  height: 400px;
}

.selected-image img {
  width: 360px;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.selected-image img:hover {
  transform: scale(1.5);
}

.image-slider-vertical {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.image-slider-vertical img {
  max-width: 100px;
  margin-bottom: 10px;
}

.image-slider-vertical div {
  transition: transform 0.3s ease-in-out;
}

.image-slider-vertical div:hover {
  transform: scale(1.1);
}

/* product info */

.product-information{
  width: 500px;
}

.info::after {
  content: "";
  display: block;
  border-bottom: 1px solid #0000003c;
  margin-top: 30px;
}

.quantity-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.quantity-buttons {
  display: flex;
  flex-direction: column;
}

.quantity-counter {
  display: flex;
  align-items: center;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  width: 30px;
  height: 30px;
  background-color: #ef9561;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.quantity-controls button:hover {
  background-color: #ef9561;
}

.quantity-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.buy{
  display: flex;
  gap: 20px;
}

/* tab selection */

.tab-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 30px;
  gap: 30px;
}

.product-tabs {
  display: flex;
}

.product-tabs button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.product-tabs button:hover {
  background-color: #f5e070;
  border-radius: 10px;
}

.product-tabs button.active {
  border-bottom: 2px solid #dba334;
}

.tab-content{
  display: flex;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  gap: 50px;
}

/* reviews */

.review-container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.profile-picture {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-details {
  flex: 1;
}

.customer-name {
  font-weight: bold;
}

.customer-comment {
  margin-top: 5px;
}

.review-form {
  margin-top: 20px;
}

.review-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.review-form input,
.review-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.review-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.review-form button:hover {
  background-color: #0056b3;
}

/* add to cart button animation */

.cart-button {
	position: relative;
	padding: 10px;
	width: 130px;
	height: 50px;
	border: 0;
	border-radius: 10px;
	background-color: #ef9561;
	outline: none;
	cursor: pointer;
	color: #fff;
	transition: .3s ease-in-out;
	overflow: hidden;
}

.cart-button:hover {
	background-color: #ef752e;
}

.cart-button:active {
	transform: scale(.9);
}

.cart-button .cart {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -20%;
	font-size: 2em;
	transform: translate(-50%,-50%);
}

.cart-button .bag {
	position: absolute;
	z-index: 3;
	top: -20%;
	left: 52%;
	font-size: 1.2em;
	transform: translate(-50%,-50%);
}

.cart-button span {
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	font-size: 1.2em;
	color: #fff;
	transform: translate(-50%,-50%);
}

.cart-button span.add-to-cart {
	opacity: 1;
}

.cart-button span.added {
	opacity: 0;
}

.cart-button.clicked .cart {
	animation: cart1 1.5s ease-in-out forwards;
}

.cart-button.clicked .bag {
	animation: box1 1.5s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
	animation: txt1 1.5s ease-in-out forwards;
}

.cart-button.clicked span.added {
	animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart1 {
	0% {
		left: -10%;
	}
	40%, 60% {
		left: 50%;
	}
	100% {
		left: 120%;
	}
}

@keyframes box1 {
	0%, 40% {
		top: -20%;
	}
	60% {
		top: 30%;
		left: 52%;
	}
	100% {
		top: 40%;
		left: 122%;
	}
}

@keyframes txt1 {
	0% {
		opacity: 1;
	}
	20%, 100% {
		opacity: 0;
	}
}

@keyframes txt2 {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* Media Query */

@media (max-width: 768px) {
  .product-container{
    gap: 90px;
  }
}