h2{
    text-align: center;
}

.product-slider-item {
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    height: 200px;
    position: relative;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: grab;
}

.product-image:active {
    cursor: grabbing;
}

.second-title {
    transform: skew(-12deg);
    grid-area: text;
    font-size: 60px;
    margin: 0;
    padding: 30px;
    color: #f5e16e;
    text-shadow: 3px 3px 0 #415c9c, -3px -3px 0 #f47d5d;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #f47d5d;
    border-radius: 20px;
    overflow: hidden;
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f5e16e;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.card:after {
    content: "SwiftCart";
    position: absolute;
    top: 0%;
    left: 10%;
    font-size: 4em;
    font-weight: 800;
    font-style: italic;
    color: rgba(0, 0, 0, 0.056);
}

.imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.card:hover .imgBx {
    top: 0%;
    transform: translateY(2%);
}

.imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    border-radius: 20px;
}

.contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 9999;
}

.card:hover .contentBx {
    height: 210px;
}

.contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    font-size: 20px;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    color: white;
}

.card:hover .price {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.cart-icon {
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
    visibility: hidden;
}

.card:hover .cart-icon {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.card:hover .cart-icon {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}


/* Mobile Query */

@media (max-width: 768px) {
    .container{
        justify-content: center;
    }
}